<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="springDao.xml" />

    <!--注册bean实现-->
    <bean id="userMapper" class="com.bei.mapper.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession" />
    </bean>

    <!--整合方式二-->
    <bean id="userMapper2" class="com.bei.mapper.UserMapperImpl2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
</beans>